@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

/* - White: hsl(0, 0%, 100%)
- Light gray: hsl(212, 45%, 89%)
- Grayish blue: hsl(220, 15%, 55%)
- Dark blue: hsl(218, 44%, 22%) */

:root {
  --white: hsl(0, 0%, 100%);
  --light: hsl(212, 45%, 89%);
  --grayish: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

p {
  font-size: 15px;
}

h4 {
  font-weight: 700;
  font-size: 15px;
  color: rgba(19, 19, 19, 0.8);
}
